<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="left_side">
          <div class="Perfile">
              <div class="img-perfil"></div>
              <h2>Pablo Zerpa</h2>
              <span>Estudiante de Ing.Informatica</span>
          </div>
          <div class="informacion_contacto">
              <h3 class="titulo">Informacion de contacto</h3>
              <ul>
                  <li>
                      <span class="icono"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </span>
                      <span class="text">+58 4123401501</span>
                  </li>
                  <li>
                      <span class="icono"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                      </span>
                      <span class="text">pablozerpa4129@gmail.com</span>
                  </li>
                  
                  <li>
                      <span class="icono"><i class="fa fa-instagram" aria-hidden="true"></i>
                      </span>
                      <span class="text"><a class="enlace" target="_blank" href= "https://instagram.com/pablozerpa28?igshid=ZDdkNTZiNTM=">Pabloserpa28</a></span>
                  </li>
                  <li>
                      <span class="icono"><i class="fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                      <span class="text">Venezuela, Guarico, San Rafael de Orituco</span>
                  </li>
              </ul>
          </div>
          <div class="Informacionde_contacto_Estudios">
              <h3 class="title">Estudios</h3>
              <ul>
                  <li class="lista">
                      <h5>2021 - 2023</h5>
                      <h4 class="info">cursando 4to Semestre de ing.informatica</h4>
                      <h4 class="info">Universidad Nacional Experimental Romulo Gallegos</h4>
                  </li>
                  <li class="lista">
                      <h5>2016 - 2021</h5>
                      <h4 class="info">Bachillerato</h4>
                      <h4 class="info">Unidad Educativa Colegio Nuestra Señora de Altagracia</h4>
                  </li>
              </ul>
          </div>
          
          
      </div>
          

      <div class="right_side">
          <div class="about">
              <h2 class="title2">Perfil.</h2>
              <br><br></br><p>Asegurar un puesto desafiante en una organizacion de renombre para expandir mis aprendizajes, conocimientos y habilidades. Asegurar una oportunidad de carrera responsable para aprovechar al maximo mi capacitacion y habilidades, mientras contribuyo significativamente al exito de la empresa.Estoy buscando un puesto de nivel de entrada</p>
          </div>
          <div class="about">
              <h2 class="title2">Experiencia</h2>
              <div class="box">
                  <div class="text">
                      <h4>por el momento carezco de experienci laboral, pero estoy en busqueda de ella</h4>
                  </div>
                  
          </div>

          <div class="about skills">
              <h2 class="title2">habilidades</h2>
              <div class="box1">
                  <h4 class="enunciado">GitHud</h4>
                  <div class="percent2">
                      <div style="width: 80%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">JavaScript</h4>
                  <div class="percent2">
                      <div style="width: 80%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">CSS</h4>
                  <div class="percent2">
                      <div style="width: 60%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">HTML</h4>
                  <div class="percent2">
                      <div style="width: 70%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">INGLES</h4>
                  <div class="percent2">
                      <div style="width: 70%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">DEPORTE</h4>
                  <div class="percent2">
                      <div style="width: 50%"></div>
                  </div>
              </div>
              <div class="box1">
                  <h4 class="enunciado">VIOLIN</h4>
                  <div class="percent2">
                      <div style="width: 50%"></div>
                  </div>
              </div>
       <ul>
  </body>
</html>
